<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="FineUI.Pro" type="FineUI.Pro.ConfigSection, FineUI.Pro" requirePermission="false" />
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Theme="Default" 
      Language="zh_CN" 
      DebugMode="false"
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      FormLabelAlign="Left" 
      FormRedStarPosition="AfterText" 
      EnableAjax="true" 
      EnableAjaxLoading="true" 
      AjaxTimeout="120" 
      AjaxLoadingType="Default" 
      AjaxLoadingText="" 
      ShowAjaxLoadingMaskText=false
      AjaxLoadingMaskText="" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/themes" 
      IconBasePath="~/res/icon" 
      JSBasePath="~/res/js"
      IEEdge="true"
      EnableShim="false"
      EnableCompactMode="false"
  -->
  <FineUI.Pro DebugMode="false" Theme="Pure_Black" EnableAnimation="true" AllowDangerousRawTag="false" AllowDangerousScriptTag="false" EnableImplicitPostBack="false" EnableImplicitChangeEvents="false" />
  <appSettings />
  <connectionStrings />
  <system.web>
    <!-- Net4.0以上的项目，一定要为pages节点加上这两个属性：controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI.Pro" namespace="FineUI.Pro" tagPrefix="f" />
      </controls>
    </pages>

    <httpModules>
      <add name="FineUI.ProScriptModule" type="FineUI.Pro.ScriptModule, FineUI.Pro" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.Pro.ResourceHandler, FineUI.Pro" validate="false" />
    </httpHandlers>


    <httpRuntime />
    <customErrors mode="RemoteOnly" />
    <compilation debug="false" targetFramework="4.8" />

    <!-- 
      在虚拟主机中运行ASP.NET程序，要添加如下配置项，否则在页面回发时可能出现“验证视图状态 MAC 失败”的错误。
      部署时应为当前环境单独生成 machineKey，不要在多个无关项目之间复制固定密钥。
    -->

    <!--
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/default.aspx" timeout="120" defaultUrl="~/main.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    -->
	  <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
  </system.web>
  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  
</configuration>
